---
import Divider from "./divider.astro";
import Image from "astro/components/Image.astro";
const {
	backgroundColour = "dark",
	eyebrow = "Syncvue UK",
	title,
	description,
	imageUrl,
	checkList = [
		{
			icon: "check_circle",
			text: "",
		},
	],
	buttonText,
	buttonLink,
} = Astro.props;
---

<section
	class="row banner"
	data-background-colour={backgroundColour}
>
	<div class="container">
		<div class="content">
			<div class="heading hasFullStop">
				<div class="eyebrow">
					<span class="filled primary">Welcome To</span>
					<span class="text light">{eyebrow}</span>
				</div>
				<h1 set:html={title} />
				<Divider
					loading="eager"
					fetchpriority="high"
				/>
				<p>{description}</p>
			</div>
			{
				checkList.length > 0 &&
					checkList.some((item: { text: string }) => item.text !== "") && (
						<div class="checklist">
							{checkList.map((item: { icon: string; text: string }) => (
								<div class="checklistItem">
									<div class="icon material-symbols-rounded">{item.icon}</div>
									<span>{item.text}</span>
								</div>
							))}
						</div>
					)
			}
			{
				buttonText && buttonLink && (
					<div class="buttons">
						<a
							class="btn primary"
							href={buttonLink}
						>
							<span>{buttonText}</span>
							<div class="icon material-symbols-rounded">arrow_right_alt</div>
						</a>
					</div>
				)
			}
		</div>
	</div>
	{
		imageUrl && (
			<div class="backgroundImage">
				<Image
					aria-hidden="true"
					src={imageUrl}
					alt={title}
					width={1920}
					height={1080}
					layout="full-width"
					style="object-fit: cover;"
					loading="eager"
					fetchpriority="high"
				/>
			</div>
		)
	}
	<div class="bannerDivider">
		<Image
			src="/misc/banner-divider-light.svg"
			alt="Banner Divider"
			width={1920}
			height={176}
			layout="full-width"
			loading="eager"
			fetchpriority="high"
		/>
	</div>
</section>
