---
import Image from "astro/components/Image.astro";
import Divider from "./divider.astro";
const {
	id,
	layoutType = "default",
	backgroundColour = "light",
	eyebrowFilledText = "Learn More",
	eyebrowText = "About Syncvue UK",
	title,
	description,
	imageUrl,
	buttonTextOne = "Get started now",
	buttonLinkOne = "#contact",
	buttonTextTwo,
	buttonLinkTwo,
	hasTextSpinner = false,
	spinnerTextUrl = "/misc/spinner-text.svg",
	spinnerLogoUrl = "/syncvue-logo.svg",
} = Astro.props;

const layoutTypes = {
	default: "dualCols rowReverse",
	rightImage: "dualCols",
	centered: "centered",
} as const;
---

<section
	id={id ? id : null}
	class={`row section`}
	style={`background-color: ${backgroundColour};`}
>
	<div class={`container ${layoutTypes[layoutType as keyof typeof layoutTypes]}`}>
		{
			imageUrl && (
				<div class="col imageCol">
					{hasTextSpinner && (
						<div class="textSpinner">
							<Image
								src={spinnerLogoUrl}
								alt="Syncvue Logo"
								width={64}
								height={64}
								class="spinnerLogo"
							/>
							<div class="textSpinnerInner">
								<Image
									src={spinnerTextUrl}
									alt="Text Spinner"
									width={128}
									height={128}
								/>
							</div>
						</div>
					)}
					<div class="imageFill">
						<Image
							src={imageUrl}
							alt={title}
							width={576}
							height={576}
							layout="full-width"
						/>
					</div>
				</div>
			)
		}
		<div class="col contentCol">
			<div class="content">
				<div class="heading hasFullStop">
					<div class="eyebrow">
						<span class="filled primary">{eyebrowFilledText}</span>
						<span class="text">{eyebrowText}</span>
					</div>
					<h2>{title}</h2>
					<Divider />
					{
						description && (
							<div
								class="description"
								set:html={description}
							/>
						)
					}
				</div>
				<div class="buttons">
					<a
						class="btn primary"
						href={buttonLinkOne}
					>
						<span>{buttonTextOne}</span>
						<div class="icon material-symbols-rounded"> arrow_right_alt </div>
					</a>
					{
						buttonTextTwo && buttonLinkTwo && (
							<a
								class="btn transparent dark"
								href={buttonLinkTwo}
							>
								<span>{buttonTextTwo}</span>
								<div class="icon material-symbols-rounded"> arrow_right_alt </div>
							</a>
						)
					}
				</div>
			</div>
		</div>
	</div>
</section>
