---
import Image from "astro/components/Image.astro"
import data from "../data/testimonials.json"
import Divider from "./divider.astro"
const googleBadge =
	'<svg width="123" height="25" viewBox="0 0 123 25" fill="none" xmlns="http://www.w3.org/2000/svg"> <path fill-rule="evenodd" clip-rule="evenodd" d="M10.4287 0.106312C11.6974 -0.0354375 12.4482 -0.0354375 13.8114 0.106312C16.2246 0.463479 18.4616 1.57891 20.1989 3.29131C19.0249 4.40105 17.8663 5.52699 16.7234 6.66881C14.5348 4.81381 12.0918 4.38565 9.39444 5.38431C7.41578 6.29431 6.03794 7.76898 5.26094 9.80831C3.99121 8.86302 2.73802 7.8957 1.50194 6.90681C1.41604 6.8616 1.31793 6.84504 1.22194 6.85956C3.18544 3.07373 6.25378 0.822062 10.4269 0.104562" fill="#F44336"></path> <path fill-rule="evenodd" clip-rule="evenodd" d="M1.21844 6.85956C1.31761 6.8444 1.41152 6.86015 1.50019 6.90681C2.73627 7.8957 3.98946 8.86302 5.25919 9.80831C5.05939 10.6029 4.93343 11.4143 4.88294 12.2321C4.92611 13.0231 5.05152 13.7995 5.25919 14.5613L1.31294 17.7026C-0.405559 14.1116 -0.437059 10.4972 1.21844 6.85956Z" fill="#FFC107"></path> <path fill-rule="evenodd" clip-rule="evenodd" d="M20.0117 21.5071C18.7829 20.4234 17.4966 19.4069 16.1582 18.4621C17.4999 17.5147 18.3142 16.2151 18.6012 14.5631H12.0264V9.99731C15.8181 9.96581 19.608 9.9979 23.3962 10.0936C24.1149 13.9961 23.2848 17.5147 20.9059 20.6496C20.6231 20.9503 20.3235 21.2365 20.0117 21.5071Z" fill="#448AFF"></path> <path fill-rule="evenodd" clip-rule="evenodd" d="M5.25919 14.5631C6.69419 18.1296 9.32503 19.7944 13.1517 19.5576C14.2259 19.4332 15.2558 19.0579 16.1582 18.4621C17.4975 19.4094 18.782 20.4244 20.0117 21.5071C18.0633 23.2579 15.5791 24.2967 12.9644 24.4541C12.3704 24.5016 11.7735 24.5016 11.1794 24.4541C6.72511 23.9291 3.43627 21.6786 1.31294 17.7026L5.25919 14.5631Z" fill="#43A047"></path> <path d="M31.2554 20.2496L32.7179 14.3338L27.8129 10.3548L34.2929 9.82851L36.8129 4.24956L39.3329 9.82851L45.8129 10.3548L40.9079 14.3338L42.3704 20.2496L36.8129 17.1127L31.2554 20.2496Z" fill="#FFC002"></path> <path d="M51.0642 20.2496L52.4454 14.3338L47.8129 10.3548L53.9329 9.82851L56.3129 4.24956L58.6929 9.82851L64.8129 10.3548L60.1804 14.3338L61.5617 20.2496L56.3129 17.1127L51.0642 20.2496Z" fill="#FFC002"></path> <path d="M70.0642 20.2496L71.4454 14.3338L66.8129 10.3548L72.9329 9.82851L75.3129 4.24956L77.6929 9.82851L83.8129 10.3548L79.1804 14.3338L80.5617 20.2496L75.3129 17.1127L70.0642 20.2496Z" fill="#FFC002"></path> <path d="M89.0642 20.2496L90.4454 14.3338L85.8129 10.3548L91.9329 9.82851L94.3129 4.24956L96.6929 9.82851L102.813 10.3548L98.1804 14.3338L99.5617 20.2496L94.3129 17.1127L89.0642 20.2496Z" fill="#FFC002"></path> <path d="M108.255 20.2496L109.718 14.3338L104.813 10.3548L111.293 9.82851L113.813 4.24956L116.333 9.82851L122.813 10.3548L117.908 14.3338L119.37 20.2496L113.813 17.1127L108.255 20.2496Z" fill="#FFC002"></path> </svg>'
const stars =
	'<svg width="136" height="24" viewBox="0 0 136 24" fill="none" xmlns="http://www.w3.org/2000/svg"> <path d="M12 20.0993L17.8198 23.7824C18.8856 24.4574 20.1898 23.4595 19.9094 22.1976L18.3667 15.2716L23.5134 10.6054C24.453 9.75433 23.9482 8.14023 22.7141 8.03751L15.9407 7.43589L13.2902 0.891426C12.8134 -0.297142 11.1866 -0.297142 10.7098 0.891426L8.05935 7.42121L1.28591 8.02284C0.051828 8.12555 -0.453025 9.73966 0.486562 10.5907L5.63325 15.257L4.09065 22.1829C3.81017 23.4449 5.11437 24.4427 6.18017 23.7677L12 20.0993Z" fill="#FFC726"/> <path d="M40 20.0993L45.8198 23.7824C46.8856 24.4574 48.1898 23.4595 47.9094 22.1976L46.3667 15.2716L51.5134 10.6054C52.453 9.75433 51.9482 8.14023 50.7141 8.03751L43.9407 7.43589L41.2902 0.891426C40.8134 -0.297142 39.1866 -0.297142 38.7098 0.891426L36.0593 7.42121L29.2859 8.02284C28.0518 8.12555 27.547 9.73966 28.4866 10.5907L33.6333 15.257L32.0906 22.1829C31.8102 23.4449 33.1144 24.4427 34.1802 23.7677L40 20.0993Z" fill="#FFC726"/> <path d="M68 20.0993L73.8198 23.7824C74.8856 24.4574 76.1898 23.4595 75.9094 22.1976L74.3667 15.2716L79.5134 10.6054C80.453 9.75433 79.9482 8.14023 78.7141 8.03751L71.9407 7.43589L69.2902 0.891426C68.8134 -0.297142 67.1866 -0.297142 66.7098 0.891426L64.0593 7.42121L57.2859 8.02284C56.0518 8.12555 55.547 9.73966 56.4866 10.5907L61.6333 15.257L60.0906 22.1829C59.8102 23.4449 61.1144 24.4427 62.1802 23.7677L68 20.0993Z" fill="#FFC726"/> <path d="M96 20.0993L101.82 23.7824C102.886 24.4574 104.19 23.4595 103.909 22.1976L102.367 15.2716L107.513 10.6054C108.453 9.75433 107.948 8.14023 106.714 8.03751L99.9407 7.43589L97.2902 0.891426C96.8134 -0.297142 95.1866 -0.297142 94.7098 0.891426L92.0593 7.42121L85.2859 8.02284C84.0518 8.12555 83.547 9.73966 84.4866 10.5907L89.6333 15.257L88.0906 22.1829C87.8102 23.4449 89.1144 24.4427 90.1802 23.7677L96 20.0993Z" fill="#FFC726"/> <path d="M124 20.0993L129.82 23.7824C130.886 24.4574 132.19 23.4595 131.909 22.1976L130.367 15.2716L135.513 10.6054C136.453 9.75433 135.948 8.14023 134.714 8.03751L127.941 7.43589L125.29 0.891426C124.813 -0.297142 123.187 -0.297142 122.71 0.891426L120.059 7.42121L113.286 8.02284C112.052 8.12555 111.547 9.73966 112.487 10.5907L117.633 15.257L116.091 22.1829C115.81 23.4449 117.114 24.4427 118.18 23.7677L124 20.0993Z" fill="#FFC726"/> </svg>'
---

<section
	id="testimonials"
	class="row testimonials colorLight bgPrimary"
>
	<div class="container headingContainer noPaddingBottom">
		<div class="heading hasFullStop">
			<h2>Trusted By Our Customers</h2>
			<Divider />
			<p>
				SyncVue are proud of the wonderful reviews that we have received from our loyal
				customers using the SyncVue software.
			</p>
		</div>
		<div
			class="badge"
			set:html={googleBadge}
		>
			<span><strong>4.9</strong> Based on <strong>234+</strong> reviews</span>
		</div>
	</div>
	<div class="container noPaddingTop">
		<div
			id="testimonialsCarousel"
			class="splide testimonialsCarousel hasPagination paginationFlexStart"
		>
			<div
				class="splide__track"
				style="overflow: visible !important;"
			>
				<ul class="splide__list">
					{
						data.map((testimonial) => (
							<li
								class="splide__slide testimonialItem"
								id={testimonial.id}
							>
								<div class="testimonialContent">
									<p>{testimonial.review}</p>
									<div
										class="starRating"
										data-rating={testimonial.rating}
										set:html={stars}
									/>
								</div>
								<div class="testimonialMeta">
									<div class="testimonialMetaImage">
										<Image
											src={testimonial.image}
											alt={testimonial.name}
											width={64}
											height={64}
											loading="lazy"
										/>
									</div>
									<div class="testimonialMetaInfo">
										<h3>{testimonial.name}</h3>
										<p>{testimonial.position}</p>
									</div>
								</div>
							</li>
						))
					}
				</ul>
			</div>
		</div>
	</div>
</section>

<script>
	// Spide
	import { Splide } from "@splidejs/splide"
	import "@splidejs/splide/css"

	const testimonialsCarousel = () => {
		// Options
		const options = {
			type: "loop",
			perMove: 1,
			perPage: 2,
			gap: "1.5rem",
			pagination: true,
			arrows: false,
			autoplay: true,
			interval: 7500,
			trimSpace: true,
			padding: {
				left: "5%",
				right: "5%",
			},
			breakpoints: {
				1023: {
					gap: "1rem",
					padding: {
						left: "3%",
						right: "3%",
					},
				},
				767: {
					perPage: 1,
					padding: {
						left: "0.25rem",
						right: "0.25rem",
					},
				},
			},
		}

		// Check if the element exists
		const testimonialsCarousel = document.getElementById("testimonialsCarousel")
		if (!testimonialsCarousel) return

		// Init
		const testimonialsCarouselInstance = new Splide(testimonialsCarousel, options)
		testimonialsCarouselInstance.mount()
	}

	testimonialsCarousel()
</script>
